div.htitle{
	background-color: green;
	opacity: 0.9;
}

div.htitle h1 {
	color: red;
	text-align: center;
  opacity: 1;
}

body {
  background-color: darkgray;
}

#all {
/*	background-image: url(../images/yukari1.jpg);*/
}

div.transbox {
  width:1200px;
  margin:10px 50px;
  background-color:lightgray;
  border:1px solid black;
  opacity:0.65;
}

div.transbox p
{
  margin:30px 40px;
  font-weight:bold;
  color:#000000;
}

#secret {
  background-color: skyblue;
  opacity: 0.6;
}